@import '../utils/variables';

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputField {
    width: 40vw;
}

.forgetText {
    font-size: $font-16;
    color: $light-gray;
    margin-bottom: 15px;

    a {
        text-decoration: none;
    }
}

.loginBtn {
    width: 200px;
}